@import "./Base/_police.scss";
@import "./Utils/_variables.scss";

header {
    img {
        width: 40%;
        padding: 20px 0 10px 0;
    }
}
form {
    background-color: #EAEAEA;
    padding: 20px 0px 20px 20px;
    display: flex;
    justify-content: center;

    i {
        padding: 5px 5px 5px 20px;
    }

    input {
        background-color: #EAEAEA;
        border: none;
        font-weight: bold;
        padding: 5px;

        &:focus-visible {
            border: none;
        }
    }
}
.enTete {
    background-color:#F6F6F6;
    
    h1 {
    width: 60%;
    font-size: 20px;
    justify-content: center;
    }
    p {
    width: 80%;
    font-size: 15px;
    justify-content: center;
    }
}


.bouton {
    border-radius: 25px;
    height: 40px;
    width: 60%;
    background-image: linear-gradient( $couleurSecondaire , $couleurPrimaire);

    a {
        text-decoration: none;
        color: white;
    }
}
.boutonResto {
    img {
        width: 400px;
        height: 300px;
    }
}