@import "./Base/_police.scss";
@import "./Utils/_variables.scss";

.enTete {
    
    h1 {
    width: 60%;
    font-size: 20px;
    justify-content: center;
}
}
form {
    background-color: rgb(246, 244, 244);
    padding: 20px;
    display: flex;
    justify-content: center;

    input {
        background-color: rgb(246, 244, 244);
        border: none;
    }
}

.bouton {
    border-radius: 25px;
    height: 40px;
    width: 60%;
    background-image: linear-gradient( $couleurSecondaire , $couleurPrimaire);

    a {
        text-decoration: none;
        color: white;
    }
}
.boutonResto {
    img {
        width: 400px;
        height: 300px;
    }
}