@import "./Base/_police.scss";
@import "./Utils/_variables.scss";

* {
cursor: pointer ;
}
/**/
/**/
/* animation */

/* load */
.loader {  
    
    @keyframes chargement { 
        0% {
            z-index: 999;
            opacity: 1;
        }
        95% {
            z-index: 999;
            opacity: 1;
        }
        100% {
            z-index: 999;
            opacity: 0;
        }
      }

    z-index: 0;
    position: relative;
    animation: chargement 2s ease-out;
    opacity: 0;
    
    div {
        width: 130px;
        height: 130px;
        position: absolute;
        border-top: 20px solid;
        border-radius: 50%;
        
    }
    .loadFond {
        position: fixed;
        width: 100%;
        height: 100%;
        border-radius: 0;
        border: none;
        background-color: #EAEAEA;
    }
    .load1 {
        left: 35%;
        top: 100px;
        transform: skew(-10deg) translateX(50px) rotate(45deg);
        animation: rot1 1.5s ease infinite;
        border-color: $couleurPrimaire;
    }
    .load2 {
        left: 35%;
        top: 100px;
        transform: skew(-10deg) rotate(165deg);
        animation: rot2 1.5s ease infinite;
        border-color: $couleurSecondaire;
    }
    .load3 {
        left: 35%;
        top: 100px;
        transform: skew(-10deg) translateX(20px) translateY(-50px) rotate(285deg);
        animation: rot3 1.5s ease infinite;
        border-color: $couleurTertiare;
    }
    @keyframes rot1 {
        100% {
          transform: skew(-10deg) translateX(50px) rotate(405deg);
        }
      }
      @keyframes rot2 {
        100% {
          transform: skew(-10deg) rotate(525deg);
        }
      }
      @keyframes rot3 {
        100% {
          transform: skew(-10deg) translateX(20px) translateY(-50px) rotate(645deg);
        }
      }


}
/* menu 1*/


      .entree {
        height: 310px;
        width: 100%;
        
        ul {
            position: relative;
    
            li {
                width: 330px;
                position: absolute;
            }
            .li1 {
                top: 5px;
                animation: chargementMenu1 1s;
            }
            .li2 {
                top: 100px;
                animation: chargementMenu2 2s;
            }
            .li3 {
                top: 200px;
                animation: chargementMenu3 3s;
            }
        } 
    }
      .plats {
        height: 310px;
        width: 100%;
        
        ul {
            position: relative;
    
            li {
                width: 330px;
                position: absolute;
            }
            .li1 {
                top: 5px;
                animation: chargementMenu1 1s;
            }
            .li2 {
                top: 100px;
                animation: chargementMenu2 2s;
            }
            .li3 {
                top: 200px;
                animation: chargementMenu3 3s;
            }
        } 

      }
      .desserts {
        height: 310px;
        width: 100%;
        
        ul {
            position: relative;
    
            li {
                width: 330px;
                position: absolute;
            }
            .li1 {
                top: 5px;
                animation: chargementMenu1 1s;
            }
            .li2 {
                top: 100px;
                animation: chargementMenu2 2s;
            }
            .li3 {
                top: 200px;
                animation: chargementMenu3 3s;
            }
        } 

      }
 
@keyframes chargementMenu1 {
    0% {
        top: 10px;
        opacity: 0;
    }
    50% {
        top: 10px;
        opacity: 0;
    }
    100% {
        top: 5px;
        opacity: 1;
    }
  }
  @keyframes chargementMenu2 {
    0% {
        opacity: 0;
        top: 105px;
    }
    50% {
        opacity: 0;
        top: 105px;
    }
    100% {
        opacity: 1;
        top: 100px;
    }
  }
  @keyframes chargementMenu3 {
    0% {
        opacity: 0;
        top: 205px;
    }
    50% {
        opacity: 0;
        top: 205px;
    }
    100% {
        opacity: 1;
        top: 200px;
    }
  }
/* menu 2*/

/**/
/**/
/**/
/* head */
/**/
/**/
.logoTitre {
    position: relative;

    .logo {
    width: 40%;
    max-width: 250px;
    padding: 20px 0 10px 0;
    }
    .flecheRetour {
        position: absolute;
        left: 40px;
        color: black;
    }
}
form {
    background-color: #EAEAEA;
    box-shadow: inset -3px 9px 4px -7px #cecece;
    padding: 15px 0px 15px 30px;
    display: flex;
    justify-content: center;

    i {
        padding: 5px 5px 5px 15px;
        margin-left: 15px;
    }

    input {
        background-color: #EAEAEA;
        border: none;
        font-weight: bold;
        padding: 5px;

        &:focus-visible {
            border: none;
        }
    }
}
.enTete {
    background-color:#F6F6F6;
    
    h1 {
    width: 60%;
    font-size: 24px;
    justify-content: center;
    font-weight: bolder;
    }
    p {
    width: 80%;
    font-size: 18px;
    justify-content: center;
    }
}


.bouton {
    border-radius: 30px;
    box-shadow: 1px 3px 5px 1px #cecece;
    height: 50px;
    width: 55%;
    min-width: 125px;
    max-width: 220px;
    margin: 10px 20px 50px 20px;
    background-image: linear-gradient( $couleurSecondaire , $couleurPrimaire);

    a {
        padding: 16px 20px;
        text-decoration: none;
        color: white;
    }
}


.fonctio {
    padding: 20px;

    ol {
        padding-inline-start: 0px;
        list-style: none;
    }
    li {
        font-weight: bold;
        display: flex;
        padding: 15px 30px;
        margin: 20px;
        flex-direction: row;
        align-items: center;
        position: relative;
        background-color: #f6f6f6;
        border-radius: 20px;
        box-shadow: 1px 3px 5px 1px #e9e9e9;

        &:hover {
            background-color: #f5edff;
            box-shadow: 2px 6px 10px 2px #e9e9e9;
            i {
                color: $couleurPrimaire;
            }
        }

        .cercle {
            position: absolute;
            left: -15px;
            background-color: $couleurPrimaire;
            padding: 15px;
            border-radius: 15px;
        }
        .numero {
            position: absolute;
            left: -15px;
            color: white;
        }
        i {
            padding: 10px;
            font-size: 20px;
            color: #7e7e7e;
        }
        p {
            padding-left: 10px;
        }
    }
}

.restaurant {
    background-color: #f6f6f6;
    padding: 20px;
    margin: 30px 0 0 0;

}

.boutonResto {
    background-color: white;
    margin: 10px 0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 3px 5px 1px #e9e9e9;
    position: relative;

    a {
        text-decoration: none;
        color: black;
    }
    img {
        width: 100%;
        height: 200px;
    }
    h3 {
        font-size: 20px;
        padding: 10px 10px 5px 10px;
        margin: 0;
    }
    p {
        font-size: 18px;
        padding: 0 10px 15px 10px;
        margin: 0;
    }
    i {
        font-size: 30px;
        padding: 20px 30px 0 0;
    }
    .logoNouveau {
        position: absolute;
        width: 90px;
        height: 30px;
        background-color: $couleurTertiare;
        border-radius: 2px;
        top: 15px;
        right: 15px;

        p {
            font-size: 15px;
            font-weight: bold;
            color: #0E8F70;
            padding: 10px 5px;
        }
    }
}

/**/
/**/
/* menu */
/**/
/**/

.boutonResto1 {
    background-color: white;
    margin: 10px 0;
    box-shadow: 1px 3px 5px 1px #e9e9e9;
    position: relative;

    img {
        width: 100%;
        height: 200px;
        z-index: 0;
    }
    
    .restoMenu {
        width: 100%;
        position: absolute;
        border-radius: 20px 20px 0 0;
        bottom: -30px;
        z-index: 2;
        background-color: #f6f6f6;
        
        h3 {
            font-family: 'Shrikhand', sans-serif;
            font-size: 29px;
            padding: 20px 10px 5px 20px;
            margin: 0;
        }
        i {
            font-size: 30px;
            padding: 20px 30px 0 0;
        }
        }
    
}
.menu {
        flex-direction: row;

        li {
            width: 330px;
            height: 80px;

        }
        .menuText {
            width: 200px;
            h5, p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
.entree {
    background-color: #f6f6f6;
    padding: 30px 0 10px 0;
    margin: 0;
    
    h4 {
        font-size: 18px;
        font-weight: 300;
        padding: 0 0 5px 20px;
        margin: 0;
    }
    ul {
        text-decoration: none;
        list-style: none;
        padding-inline-start: 0px;

        h5 {
            padding: 0;
            margin: 12px 0 10px 9px;
            font-size: 20px;
        }
         p {
            padding: 0;
            margin: 0 0 10px 9px;
            font-size: 16px;
         }
    }
    li {
    border-radius: 20px;
    background-color: white;
    margin: 10px 10px 15px 16px;
    box-shadow: 1px 3px 5px 1px #e9e9e9;
    }
    i{
    display: none;
    }
    .prix {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
    padding: 10px;
    
    }
}
.plats {
    background-color: #f6f6f6;
    padding: 30px 0 10px 0;
    margin: 0;
    
    h4 {
        font-size: 18px;
        padding: 0 0 5px 20px;
        font-weight: 300;
        margin: 0;
    }
    ul {
        text-decoration: none;
        list-style: none;
        padding-inline-start: 0px;

        h5 {
            padding: 0;
            margin: 12px 0 10px 9px;
            font-size: 20px;
        }
         p {
            padding: 0;
            margin: 0 0 10px 9px;
            font-size: 16px;
         }
    }
    li {
    border-radius: 20px;
    background-color: white;
    margin: 10px 10px 15px 16px;
    box-shadow: 1px 3px 5px 1px #e9e9e9;
    }
    i{
    display: none;
    }
    .prix {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
    padding: 10px;
    
    }
}
.desserts {
    background-color: #f6f6f6;
    padding: 30px 0 10px 0;
    margin: 0;
    
    h4 {
        font-size: 18px;
        font-weight: 300;
        padding: 0 0 5px 20px;
        margin: 0;
    }
    ul {
        text-decoration: none;
        list-style: none;
        padding-inline-start: 0px;

        h5 {
            padding: 0;
            margin: 12px 0 10px 9px;
            font-size: 20px;
        }
         p {
            padding: 0;
            margin: 0 0 10px 9px;
            font-size: 16px;
         }
    }
    li {
    border-radius: 20px;
    background-color: white;
    margin: 10px 10px 15px 16px;
    box-shadow: 1px 3px 5px 1px #e9e9e9;
    }
    i{
    display: none;
    }
    .prix {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
    padding: 10px;
    
    }
}
.Commander {
    background-color: #F6F6F6;
    padding: 10px;
}

footer {
    background-color: #353535;
    color: white;

    a {
        color: white;
        text-decoration: none;
    }
    h2 {
        font-size: 20px;
        padding: 20px;
        margin: 0;
    }
    .mFoot {  
        font-size: 18px;
        padding: 10px 0 0 20px;
        margin: 0;

        i {
            padding-right: 10px;
        }

        p {
            padding: 0;
            margin: 0;
        }
    }

    ul {
        text-decoration: none;
        list-style: none;
        padding-inline-start: 0px;
        font-size: 18px;
        padding-bottom: 20px;
        margin: 0;
        li {
            padding: 10px 0 0 20px;
        }
    }
}
.barreTitreMenu {
    width: 45px;
    margin: 0 0 15px 20px;
    border-bottom: 3.5px solid $couleurTertiare;
}
.cadreImage {
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    height: 190px;
    position: relative;

    .img1 {
        position: absolute;
        top: -60px;
        left: -10px;
        width: 380px;
        height: 250px;
    }
    .img2 {
        position: absolute;
        top: -160px;
        height: 450px;
    }
    .img3 {
        position: absolute;
        top: -60px;
        left: -5px;
        width: 380px;
        height: 250px;
    }.img4 {
        position: absolute;
        top: -60px;
        height: 250px;
    }
}.cadreImage1 {
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    height: 270px;
    position: relative;

    .img11 {
        position: absolute;
        top: 0px;
        left: -20px;
        width: 445px;
        height: 300px;
    }
    .img21 {
        position: absolute;
        top: -100px;
        height: 500px;
    }
}
/*       */
/**/
/**/
/* media */
/**/
/**/
@media (min-width: 430px) and (max-width: 749px) {
    .boutonResto1 {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f6f6f6;
        box-shadow: none;

        .cadreImage1 {
            width: 325px;
            border-radius: 25px;
        }
        .restoMenu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 1px 3px 5px 1px #e9e9e9;
            border-radius: 25% 10%;
            height: 70px;
            width: 325px;
        }
    }
    .entree {
        padding-top: 60px;
    }
}

@media (min-width: 750px) and (max-width: 1059px) {
    .fonctio {
        ol{
            display: flex;
            flex-direction: row;

            li{
                width: 20%;
                height: 30px;
                font-weight: 12px;
            }
        }
    }
    .restaurant {
        h2 {
            display: flex;
            justify-content: center;
            font-size: 30px;
        }
    }
    .grpBoutonResto {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;

            .boutonResto {
                margin: 50px 80px;
                width: 35%;
                max-width: 325px;
            }
    }
    .boutonResto1 {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 0px;
        background-color: #f6f6f6;
        box-shadow: none;

        .cadreImage1 {
            width: 50%;
            max-width: 325px;
            border-radius: 25px;
        }
        .restoMenu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 1px 3px 5px 1px #e9e9e9;
            border-radius: 25% 10%;
            height: 70px;
            width: 50%;
            max-width: 325px;
        }
    }
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
        background-color:#f6f6f6 ;
    }
    .entree{
        padding-top: 30px;
        width: 32%;
        
        .barreTitreMenu {
            display: none;
        }
        li {
            width: 30%;
        }
    }
    .plats {
        width: 32%;

        .barreTitreMenu {
            display: none;
        }
        li {
            width: 30%;
        }
    }
    .desserts {
        width: 32%;

        .barreTitreMenu {
            display: none;
        }
        li {
            width: 30%;
        }
    }
    footer {
        h2 {
            display: flex;
            justify-content: center;
        }
    }
    .listFoot {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
@media (min-width: 1060px) {
    .fonctio {
        ol{
            display: flex;
            flex-direction: row;

            li{
                width: 20%;
                height: 30px;
                font-weight: 12px;
            }
        }
    }
    .restaurant {
        h2 {
            display: flex;
            justify-content: center;
            font-size: 30px;
        }
    }
    .grpBoutonResto {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;

            .boutonResto {
                margin: 50px 80px;
                width: 35%;
                max-width: 325px;
            }
    }
    .boutonResto1 {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 0px;
        background-color: #f6f6f6;
        box-shadow: none;

        .cadreImage1 {
            width: 50%;
            max-width: 325px;
            border-radius: 25px;
        }
        .restoMenu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 1px 3px 5px 1px #e9e9e9;
            border-radius: 25% 10%;
            height: 70px;
            width: 50%;
            max-width: 325px;
        }
    }
    .menu {
        display: flex;
        flex-direction: row;
        padding: 40px 0;
        background-color:#f6f6f6 ;
    }
    .entree{
        padding-top: 30px;
        width: 32%;
        
        ul {
            display: flex;
            flex-direction: row;
        }
        .barreTitreMenu {
            display: none;
        }
        li {
            width: 30%;
        }
    }
    .plats {
        width: 32%;

        ul {
            display: flex;
            flex-direction: row;
        }
        .barreTitreMenu {
            display: none;
        }
        li {
            width: 30%;
        }
    }
    .desserts {
        width: 32%;

        ul {
            display: flex;
            flex-direction: row;
        }
        .barreTitreMenu {
            display: none;
        }
        li {
            width: 30%;
        }
    }
    footer {
        h2 {
            display: flex;
            justify-content: center;
        }
    }
    .listFoot {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}