@font-face {
    font-family: "roboto";
    src: url("../../Fonts/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf") format("ttf");
}
@font-face {
    font-family: 'Shrikhand';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/shrikhand-v11-latin-ext_latin_gujarati-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/shrikhand-v11-latin-ext_latin_gujarati-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/shrikhand-v11-latin-ext_latin_gujarati-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/shrikhand-v11-latin-ext_latin_gujarati-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/shrikhand-v11-latin-ext_latin_gujarati-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/shrikhand-v11-latin-ext_latin_gujarati-regular.svg#Shrikhand') format('svg'); /* Legacy iOS */
  }

* {
    font-family: 'roboto', sans-serif;
}

footer h2 {
    font-family: 'Shrikhand', sans-serif;
}